.example-flex-5.flex-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
}

.example-flex-5a.flex-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.example-flex-5.flex-container div:nth-child(2),
.example-flex-5a.flex-container div:nth-child(2) {
  width: 30px;
  height: 100px;
}

.example-flex-5.flex-container div:nth-child(3),
.example-flex-5a.flex-container div:nth-child(3) {
  width: 80px;
  height: 40px;
}

.example-flex-5.flex-container div:nth-child(4),
.example-flex-5a.flex-container div:nth-child(4) {
  width: 100px;
  height: 120px;
}

.example-flex-5.flex-container div:nth-child(5),
.example-flex-5a.flex-container div:nth-child(5) {
  width: 40px;
}